# Default ignored files
/../../../:nextjs-ecommerce/.idea/shelf/
/../../../:nextjs-ecommerce/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:nextjs-ecommerce/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:nextjs-ecommerce/.idea/dataSources/
/../../../:nextjs-ecommerce/.idea/dataSources.local.xml
